site_name: DogDocs
site_url: https://dogdocs.com.br/
site_description: Compêndio técnico sobre comportamento e adestramento canino baseado em evidências.
site_author: Vinícius Corrêa

repo_name: ViniCorrea/adestramento-canino-moderno
repo_url: https://github.com/ViniCorrea/adestramento-canino-moderno
edit_uri: edit/main/docs/

theme:
  name: material
  language: pt-BR
  icon:
    logo: material/dog-side
    favicon: material/paw
  features:
    - content.code.copy
    - content.action.edit
    - content.tooltips
    - navigation.expand
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - navigation.top
    - navigation.footer
    - search.suggest
    - search.highlight
    - search.share
  palette:
    - scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Mudar para modo escuro
    - scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/weather-night
        name: Mudar para modo claro
  font:
    text: Roboto
    code: Roboto Mono
    headings: Roboto Slab

plugins:
  - search
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
  - git-revision-date-localized:
      type: timeago
      fallback_to_build_date: true
      locale: pt

markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ViniCorrea
    - icon: fontawesome/brands/medium
      link: https://medium.com/@vinuscorrea
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/vinuscorrea

nav:
  - Início: index.md
  - Biblioteca:
    - 'Enriquecimento Ambiental': artigos/enriquecimento.md
    - 'O Cérebro em Pânico': artigos/flooding-e-dessensibilizacao-sistematica.md
    - 'Protocolo LIMA': artigos/protocolo-lima.md
    - 'A Importância do Timming no Adestramento de Cães (marcação de acerto)': artigos/a-importancia-do-timming-no-adestramento.md

copyright: Copyright &copy; 2025 Vinícius Corrêa | DogDocs